&uart0 {
    status = "okay";
};

&uart1 {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&i2c0 {
    compatible = "nordic,nrf-twim";
    clock-frequency = <100000>;
    status = "okay";
};


&adc {
    status = "okay";  // Ensure the ADC device is enabled
    #address-cells = <1>;
    #size-cells = <0>;

    channel@4 {
        reg = <4>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN4>; // Updated for P0.28
        zephyr,resolution = <12>;
    };
    channel@5 {
        reg = <5>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN5>;  // Updated for P0.29
        zephyr,resolution = <12>;
    };
};

/{
    custom_gpios {

        compatible = "gpio-keys";

        uart0_rx: uart0_rx {
            gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
            label = "UART0 RX";
        };

        uart1_rx: uart1_rx {
            gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
            label = "UART1 RX";
        };

        adc_converter_transistor: adc_converter_transistor {
            gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
            label = "ADC Converter Transistor";
        };

        lora_reset: lora_reset {
            gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
            label = "Lora reset";
        };
    };

    aliases {
        uart0rx = &uart0_rx;
        uart1rx = &uart1_rx;
        adcconvertertransistor = &adc_converter_transistor;
        lorareset = &lora_reset;
    };

    zephyr,user {
        io-channels = <&adc 4>, <&adc 5>;
    };
};