&uart1{
    status = "okay";
    pinctrl-0 = <&uart1_default>;
    pinctrl-1 = <&uart1_sleep>;
    wakeup-source;
};

&gpio1 {
    status = "okay";  // Enable the GPIO controller
};

/ {
    zephyr,user {
        sim7000_pwr-gpios = <&gpio1 3 0>;
    };
};
