&uart1{
    status = "okay";
    pinctrl-0 = <&uart1_default>;
    pinctrl-1 = <&uart1_sleep>;
    wakeup-source;
};

&gpio0 {
    status = "okay";
};


&i2c0 {
    compatible = "nordic,nrf-twim";
    clock-frequency = <100000>;
    status = "okay";
};